body {
    font-family: Arial;
}

.container {
    width: 300px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 15px;
}

.campo {
    margin-bottom: 10px;
}

input {
    width: 100%;
}